@model IEnumerable<JewelryAuctionData.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <div class="col-md-10">
        <h3 class="display-8">Customer List</h3>
    </div>
    <div class="col-md-2 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">
            Add
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">CustomerId</th>
                    <th class="card-title text-center">Name</th>
                    <th class="card-title text-center">Address</th>
                    <th class="card-title text-center">Phone</th>
                    <th class="card-title text-center">Email</th>
                    <th class="card-title text-center">Gender</th>                    
                    <th class="card-title text-center"></th>
                </tr>
            </thead>
            <tbody class="tblCustomerList">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="topUpModal" tabindex="-1" aria-labelledby="topUpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="topUpModalLabel">TopUp Transaction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="topUpModalContent"></div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            loadData();

            $("#btSave").click(function () {
                var formData = new FormData();
                formData.append("ID", $("#ID").val());
                formData.append("TypeCode", $("#TypeCode").val());
                formData.append("AmountGross", $("#AmountGross").val());
                formData.append("CurrencyCode", $("#CurrencyCode").val());
                formData.append("Description", $("#Description").val());
                formData.append("IsIncluded", $("#IsIncluded").val());

                console.log(formData);

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Save", "Home")',
                    //contentType: 'application/json;charset=utf-8',
                    //dataType: "json",
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (result) {
                        //console.log(result);

                        if (result.status >= 1) {
                            $('#topUpModal').modal('hide');
                            loadData();
                        }
                        alert(result.message);
                    },
                    error: function (xhr, error) {
                        //alert(xhr.responseText);
                        console.log(xhr);
                    }
                });
            });

            
        });

        function loadData() {
            $.ajax({
                url: '@Url.Action("GetAll", "Customers")',
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result, function (key, item) {
                        
                        html += '<tr>';
                        html += '<td>' + item.customerId + '</td>';
                        html += '<td>' + item.customerName + '</td>';
                        html += '<td>' + item.address + '</td>';
                        html += '<td>' + item.phone + '</td>';
                        html += '<td>' + item.email + '</td>';
                        html += '<td>' + item.gender + '</td>';
                        
                        html += '<td><a href="#" onclick="return edit(\'' + item.id + '\')">Edit</a> | <a href="#" onclick="delele(\'' + item.id + '\')">Delete</a></td>';
                        html += '</tr>';
                    });
                    $('.tblCustomerList').html(html);
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });
        }

        function add() {
            $("#topUpModalContent").html("");
            $("#topUpModalLabel").html("Add New");

            $.ajax({
                url: '@Url.Action("Add", "Home")',
                type: "GET",
                success: function (result) {
                    $("#topUpModalContent").html(result);
                    $('#topUpModal').modal('show');
                },
                error: function (message) {
                    alert(message);
                }
            });
        }

        function edit(id) {
            $("#topUpModalContent").html("");
            $("#topUpModalLabel").html("Update");

            var formData = new FormData();
            formData.append("id", id);

            $.ajax({
                url: '@Url.Action("Edit", "Home")',
                type: "POST",
                //contentType: 'application/json;charset=utf-8',
                //dataType: "json",
                processData: false,
                contentType: false,
                data: formData,
                success: function (result) {
                    $("#topUpModalContent").html(result);
                    $('#topUpModal').modal('show');
                },
                error: function (message) {
                    alert(message);
                }
            });
        }

        function delele(id) {
            var result = confirm("Are you sure to delete?");
            if (result) {
                //alert(id);
                var formData = new FormData();
                formData.append("id", id);

                $.ajax({
                    url: '@Url.Action("Delete", "Home")',
                    type: "POST",
                    //contentType: 'application/json;charset=utf-8',
                    //dataType: "json",
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (result) {
                        if (result.status >= 1) {
                            $('#topUpModal').modal('hide');
                            loadData();
                        }
                        alert(result.message);
                    },
                    error: function (message) {
                        alert(message);
                    }
                });
            }
        }

    </script>
}
